* {
    margin: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.text {
    font-family: 'Montserrat', sans-serif;
    word-break: normal;
    font-size: 25px;
}

h3 {
    font-family: 'Grand Hotel', cursive;
    color: #ffc200;
    font-size: 100px;
}

h2 {
    font-family: 'Grand Hotel', cursive;
    color: #333333;
    font-size: 75px;
}

h1 {
    font-family: 'Grand Hotel', cursive;
    color: #333333;
    font-size: 42px;
}

.pages {
    min-width: 950px;
}

.page1 {
    background-color: #2f2f2f;
    height: 700px;
    background-image: url(/styles/images/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\)\ 6.png);
    background-size: 550px 100%;
    background-repeat: no-repeat;
    position: relative;
}

.page1 img {
    height: 100%;
    margin-left: 29%;
}

.page1 .text {
    position: absolute;
    color: #e3e3e3;
    font-size: 30px;
    left: 45%;
    right: 10%;
    top: 25%;
    bottom: 0px;
}

.top {
    position: absolute;
    width: 95%;
    height: 50px;
    padding: 20px;
    z-index: 1;
    min-width: 900px;
}

.top button {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #f1f1f1;

    height: 100%;
    border: 0px;
    padding: 10px;
    float: right;
    background-color: #00000000;

    transition: 0.6s;
}

.top button:hover {
    background-color: #1e1e1e97;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.page2 {
    height: 700px;
}

.page2>.text {
    min-width: 793px;
    max-width: 50%;
    color: #666666;
    font-size: 25px;
    margin: auto;
    margin-top: 15%;
    text-align: center;
}

.page2 .cards .card div {
    color: #333333;
    font-size: 17px;
    text-align: center;
}

.page2 .cards .card {
    height: 325px;
    width: 245px;
    display: inline-block;
}

.page2 .cards {
    text-align: justify;
    margin: 5%;
}

.page2 .cards::after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.page2 .cards .card img {
    border-radius: 100%;
}

.page3 {
    height: 600px;
    width: 100%;
    background-image: url(./images/Vector\ Smart\ Object\ \(Double\ Click\ to\ Edit\)\ 11.png);
    background-size: 100% 110%;
}

.page3 img {
    height: 50%;
    border-radius: 100%;
    margin-left: 10%;
    margin-top: 10%;
    float: left;
}

.page3 .text {
    padding-top: 15%;
    margin-right: 10%;
    margin-left: 50%;
    color: #e3e3e3;
}

.page4 {
    width: 100%;
    height: 700px;
    min-width: 950px;
    background-color: #2f2f2f;
    text-align: center;
}

.page4 .text {
    padding: 20%;
    padding-top: 5%;
    padding-bottom: 0%;
    color: #e3e3e3;
}

.page4 .cards .text b {
    font-family: 'Montserrat', sans-serif;
    color: #ffc200;
    font-size: 50px;
}

.page4 .card .text {
    font-size: 30px;
    transform: translate(0, 45%);
}

.page4 .card {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border-style: solid;
    border-color: #e3e3e3;
    display: inline-block;
    text-align: center;
    position: relative;
}

.page4 .cards {
    position: relative;
    width: 80%;
    text-align: justify;
    margin-top: 10%;
    margin-left: 10%;
}

.page4 .cards::after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
    text-align: justify;

}

.page5 {
    width: 100%;
    height: 700px;
    background-color: #f1f1f1;
    background-image: url(./images/Vector\ Smart\ Object\ \(Double\ Click\ to\ Edit\)\ 10.png);
    background-size: 110% 80%;
    background-repeat: no-repeat;
    color: #e3e3e3;
    background-position: 0px -25px;
    text-align: left;
    ;
}

.page5 img {
    border-radius: 100%;
    height: 50%;
    float: right;
    margin-right: 10%;
    margin-top: 15%;
}

.page5 .text {
    text-align: left;
    width: 40%;
    height: 10%;
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 5%;
}

.page5 button {
    border-radius: 5%;
    background-color: #ffc200;
    border-color: #00000000;
    width: 323px;
    height: 65px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 18%;
    margin-left: 10%;
    transition: 0.5s;
}

.page5 button:hover {
    background-color: #aa8200;
    cursor: pointer;
}

.page6 {
    width: 100%;
    height: 650px;
    background-image: url(./images/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\).png);
    background-color: #eeff00;
    background-blend-mode: lighten;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 0px -30px;
    text-align: center;
    position: relative;
}

.page6 .text {
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translate(0, -30%);
}

.page7 {
    width: 100%;
    height: 700px;
    background-color: #f1f1f1;
}

.page7 form {
    height: 65px;
    width: 55%;
    top: 10%;
    border-radius: 20px;
    position: relative;
    left: 25%;
    text-align: left;
    overflow: hidden;
}

.page7 .text{
    padding-top: 17%;
    width: 50%;
    padding-left: 27%;
    text-align: center;
}

.page7 form input{
    height: 65px;
    width: 70%;
    border-radius: 0px;
    padding: 0;
    border: 0;
    background-color: #e3e3e3;
    font-size: 30px;
}

.page7 form #sumbit{
    height: 65px;
    width: 30%;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    border: 0;
    background-color: #ffc200;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}